body
{
    background-image: url("images/Casino-Game-Wallpapers-Top-Free-Casino-Game-Backgrounds-.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blackjack-container {
    border: 1px solid white;
    width: 75%;
    margin: 0 auto;
    text-align: center;
    color:white;
}
.blackjack-row-1,.blackjack-row-2 {
    border: 1px solid white;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: space-around;
    
    padding: 10px;
}
.blackjack-row-2{
    padding: 14px;
    background-position: center;
}
.blackjack-row-3 {
    display: flex;
    justify-content: center;
    padding: 7px;
}
tr,td, th{
    border: 1px solid white;
    padding: 5px;
    color:white;
}
.blackjack-row-1 div{
    border: 1px solid white;
    flex:1;
    height: 500px;
    width: 533px;
}
.your-div img{
    justify-content: space-around;

}
.blackjack-row-1 img{
    width : 24%;
    padding:10px;
}
